/* Semi-bold 600, Regular 400, Light 300 */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 5rem;
    color: #FDC400;
}